.search-form{
    margin: 5px;
    padding: 5px;
}
.txt-input{
    height: 30px;
    width: 170px;
}
.btn-submit{
    margin: 10px;
    width: 110px;
    height: 34px;
    border: outset;
    cursor: pointer;
    border-radius: 6px;
}